$yellow: #fffa19;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color:black;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    @include margenes(50px, 0px);
}

.card-producto{
    flex: 1 300px;
    /* padding: 2px 0px 2px 0px; */
    @include margenes(50px, 0px);
}

.btn-ver-mas{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon, .section-product-icon{
    padding-right: 10px;
}

.card-subtitle {
    margin-top: 0.625rem;
    margin-bottom: 0;
}

.logo{
height: 180px;
}

.tab-content{
    padding-top: 10px;
}

.d-flex{
    padding-top: 10px;
}

.btn {
    margin-bottom: 5px;
}
.card-img-top{
    height: 100%;
}